* {
    font-family: Arial, Helvetica, sans-serif;
}

#title-card {
    width: 800px;
    max-width: 90%;
    margin: 0 auto 0.5em auto;
    padding: 1em;
    background-color: #aa0a0ad7;
    color: #202020;
    border-radius: 5px;
}

#title {
    text-align: center;
    font-size: 36px;
}

#subtitle {
    text-align: center;
    font-size: 24px;
    font-style: italic;
}

#main {
    text-align: center;
}

#tribute-info {
    border: 1 solid black;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1rem 0 0.5rem 0;
}

#img-caption {
    padding: 1rem;
}

#img-div {
    background-color: lightgray;
    width: 500px;
    max-width: 67%;
    padding: 1rem;
    border-radius: 5px;
    margin: 0 auto 10px auto;
}

#tribute-info {
    max-width: 67%;
    margin: 0 auto;
    text-align: justify;
    line-height: 2rem;
    background-color: palegoldenrod;
    padding: 2rem;
    border-radius: 5px;
}

#tribute-info > h3 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: x-large;
}

#tribute-info > ul {
    list-style: none;
}

blockquote {
    min-width: 300px;
    margin: 0 auto;
    padding: 2rem;
    font-size: x-large;
}

footer {
    text-align: center;
}